{% extends "template.html" %}
{% block content %}
<main class="container">
    <!-- </1><input type="search" id="search" name="search" placeholder="Buscar" /> -->
    <h1>Estágios:</h1>
    {% for internship in internships %}
    <button class="secondary" data-target="modal-example" onClick="toggleModal(event)">
        {{ internship.internshipsName }}
    </button>

    <!-- Modal -->
    <dialog id="modal-example">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="modal-example" onClick="toggleModal(event)">
            </a>
            <h3>Marcar presença</h3>
            <label for="date">Date
                <input type="date" id="date" name="date">
            </label>
            <fieldset>
                <label for="checkbox-1">
                    <input type="checkbox" id="checkbox-1" name="checkbox-1" checked />
                    Aluno 1
                </label>
            </fieldset>
            <fieldset>
                <label for="checkbox-1">
                    <input type="checkbox" id="checkbox-1" name="checkbox-1" checked />
                    Aluno 2
                </label>
            </fieldset>
            <footer>
                <a href="#cancel" role="button" class="secondary" data-target="modal-example" onClick="toggleModal(event)">
                    Cancelar
                </a>
                <a href="#confirm" role="button" data-target="modal-example" onClick="toggleModal(event)">
                    Confirmar presença
                </a>
            </footer>
        </article>
    </dialog>

    {% endfor %}

</main>

{% endblock %}