{% extends "template.html" %}
{% block content %}
<main class="container">
    <!-- </1><input type="search" id="search" name="search" placeholder="Buscar" /> -->
    <h1>Estágios:</h1>
    <div>
        <table>
            <thead>
                <th>Nome do curso: </th>
            </thead>
            <tbody>
                {% for internship in internships %}
                <tr>
                    <td><a class="btn-secondary" href="{{ url_for('studentInternship', internshipsId=internship.internshipsId) }}">
                            {{ internship.internshipsName }}
                        </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




</main>

{% endblock %}