{% extends "template.html" %}
{% block content %}
<main class="container">
    <!-- </1><input type="search" id="search" name="search" placeholder="Buscar" /> -->
    <h1>Estágios:</h1>
    {% for internship in internships %}
    <button class="secondary" data-target="modal-example" onClick="toggleModal(event)">
        {{ internship.internshipsName }}
    </button>

    <!-- Modal -->
    <dialog id="modal-example">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="modal-example" onClick="toggleModal(event)">
            </a>
            <h3>Confirm your action!</h3>
            <p>
                Cras sit amet maximus risus.
                Pellentesque sodales odio sit amet augue finibus pellentesque.
                Nullam finibus risus non semper euismod.
            </p>
            <footer>
                <a href="#cancel" role="button" class="secondary" data-target="modal-example" onClick="toggleModal(event)">
                    Cancel
                </a>
                <a href="#confirm" role="button" data-target="modal-example" onClick="toggleModal(event)">
                    Confirm
                </a>
            </footer>
        </article>
    </dialog>

    {% endfor %}

</main>

{% endblock %}