{% extends "template.html" %}
{% block content %}
<main class="container">
    <article class="grid">
        <div>
            <hgroup>
                <h1>Alunos matriculados em {{ internship.internshipsName }}:</h1>
                <h2>Selecione os alunos presentes na data atual.</h2>
            </hgroup>
            <form action="{{ url_for('registerAttendance') }}" method="POST">
                <fieldset>
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        <input type="hidden" name="internship_id" value="{{ internship.internshipsId }}">
                    </div>
                    {% for choice in form.selected_students %}
                    <div class="form-group">
                        {{ choice(class="form-control form-control-lg") }}
                        {{ choice.label(class="form-control-label") }}
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group buttons">
                    {{ form.submit(class="secondary") }}
                </div>
            </form>
        </div>
    </article>
</main>



{% endblock %}