{% extends "template.html" %}
{% block content %}

<main class="container">
    <article class="grid">
        <div>
            <hgroup>
                <h1>Cadastre um aluno</h1>
                <h2>Insira os dados para realizar o cadastro de um estagiário</h2>
            </hgroup>

            <form method="POST" action="{{ url_for('create') }}" enctype="multipart/form-data">
                <fieldset>
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.student_name.label(class = "form-control-label") }}
                        {{ form.student_name(class="form-control form-control-lg", placeholder="Nome do estudante") }}
                    </div>

                    <div class="form-group">
                        {{ form.student_email.label(class = "form-control-label") }}
                        {{ form.student_email(class="form-control form-control-lg", placeholder="E-mail") }}
                    </div>

                    <div class="form-group">
                        {{ form.student_academic_id.label(class="form-control-label") }}
                        {{ form.student_academic_id(class="form-control form-control-lg", placeholder="Registro Acadêmico") }}
                    </div>

                    <div class="form-group buttons">
                        {{ form.save(class="btn btn-primary") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </article>
</main>
{% endblock %}