{% extends "template.html" %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Registro acadêmico</th>
                <th>Disciplina</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.studentName }}</td>
                <td>{{ student.studentEmail }}</td>
                <td>{{ student.studentAcademicId }}</td>
                <td>{{ student.internships.internshipsName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}