<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>Sistema de presença de estágio</title>
</head>

<body>
    <nav>
        <ul>
            <li><strong>Sistema de presença de estágio</strong></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('create') }}">Cadastrar aluno</a></li>
            <li><a href="#">Cadastrar presença</a></li>
            <li><a href="{{ url_for('students') }}">Alunos cadastrados</a></li>
            <li><a href="{{ url_for('logout') }}" role="button">Logout</a></li>
        </ul>
        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" class="secondary">Tema</summary>
                <ul role="listbox">
                    <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                    <li><a href="#" data-theme-switcher="light">Claro</a></li>
                    <li><a href="#" data-theme-switcher="dark">Escuro</a></li>
                </ul>
            </details>
        </li>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}

    <script type="text/javascript" src=" {{ url_for('static', filename='minimal-theme-switcher.js') }}"></script>
</body>

</html>